.tabs {
	overflow-x: scroll;
}

.tab {
	position: relative;
	text-align: center;
	cursor: pointer;
}

.tabActive {
	color: var(--primary-color-normal);
}

.borderActive {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	z-index: 1;
	background-color: var(--primary-color-normal);

	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
