.borderWidthPadding {
	&::after {
		content: '';
		height: 1px;
		width: calc(100% - 56px);
		background-color: var(--border-color);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.address {
	width: 380px;
}

.colAddress {
	min-width: 510px;
}
.colBlock {
	min-width: 200px;
}
.colFee {
	min-width: 120px;
}
.colTimer {
	min-width: 80px;
}
.colStatus {
	min-width: 80px;
}
