div {
	overflow-x: initial !important;
}

.alert-enter {
	transform: translateY(-100%);
}
.alert-enter-active {
	transform: translateY(0);
	transition: transform 1000ms;
}

.dark--mode {
	background: radial-gradient(100% 90% at 10% 0%, rgba(82, 120, 255, 0.2) 0%, rgba(23, 31, 60, 0.096) 100%), #08080a;
}

.hamburger-enter {
	transform: translateX(-100%);
	transition: transform 0.5s ease-out;
}
.hamburger-enter-active {
	transform: translateX(0);
	transition: transform 0.5s ease-in;
}
