.rowBrief {
	display: flex;
	.iconCetner {
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
		}
	}
}

.blockRow {
	background: rgba(var(--contrast-color-theme--raw), 0.05);
	border: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	backdrop-filter: blur(42px);
}
.borderLeft {
	border-left: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
}

.topRow {
	display: flex;
	justify-content: space-between;
}

.card {
	justify-content: flex-end;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	min-height: 720px;
}
