$border: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
.table {
	border-collapse: inherit;
	th,
	td {
		border-bottom: $border;
		border-left: $border;
		padding: var(--offset-md) var(--offset-lg);
		background: var(--border-color);
		&:last-child {
			border-right: $border;
		}
	}
	th {
		border-top: $border;
	}
}

.tableInverted {
	display: inline-flex;
	thead {
		display: flex;
		flex-flow: column;
		th {
			display: block;
			text-align: left;
			&:first-child {
				border-top: $border;
			}
			&:last-child {
				border-right: unset;
			}
			border-top: unset;
			border-right: unset;
		}
	}
	tbody {
		display: flex;
		tr {
			display: flex;
			flex-flow: column;
			td {
				&:first-child {
					border-top: $border;
				}
				&:last-child {
					border-right: unset;
				}
			}
			&:last-child {
				td {
					border-right: $border;
				}
			}
		}
	}
}
