@use 'sass:color';

$maxMobileSize: 1200px;
$backgroundHover: rgba(var(--contrast-color-theme--raw), 0.05);

.navbar {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	height: 80px;
	// background-color: var(--theme-backgorund-mode);

	.container {
		max-width: 1400px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.navbar-scroll {
		background-color: var(--theme-backgorund-mode);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(22px);
	}

	@media screen and (max-width: $maxMobileSize) {
		justify-content: unset;
	}
}

.navigation {
	display: flex;
	.background {
		background-color: $backgroundHover;
	}
	span[data-text='icon'] {
		display: inline-flex;
		&::before {
			font-size: 5px;
			color: var(--contrast-color-theme-70);
		}
	}

	.item {
		position: relative;
		&:hover {
			background-color: $backgroundHover;
		}
		.show {
			visibility: visible !important;
			opacity: 1 !important;
		}
		ul {
			width: 150px;
			min-width: 100%;
		}

		.locale {
			width: 120px !important;
			right: 0px;
			left: unset !important;
			span {
				justify-content: left;
			}
		}

		.submenu {
			position: absolute;
			top: 100%;
			left: 0;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.5s;
			background-color: rgba(var(--same-color-theme--raw), 1);
			a {
				text-decoration: none;
				font-weight: bold;
				&:hover {
					opacity: 0.8;
				}
			}
			> li {
				position: relative;
				> span {
					width: 100%;
					&:hover {
						background-color: rgba(var(--contrast-color-theme--raw), 0.1);
					}
				}
			}
			// > li:hover > .submenu2 {
			//     visibility: visible;
			//     opacity: 1;
			// }
			.submenu2 {
				position: absolute;
				background-color: $backgroundHover;
				left: 100%;
				top: 0;
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}
.right {
	display: flex;
	.switchTheme {
		display: flex;
		button {
			background-color: transparent;
			color: var(--contrast-color-theme-100);
			border: none;
			cursor: pointer;
		}
	}
	@media screen and (max-width: $maxMobileSize) {
		display: none;
	}
}

.left {
	@media screen and (max-width: $maxMobileSize) {
		width: 100%;
		justify-content: center;
		display: flex;
	}
}

.hamburgerMenuIcon {
	display: none;
	width: 22px;
	margin-left: 22px;
	> div {
		width: 22px;
		height: 16px;
		position: relative;
	}
	@media screen and (max-width: $maxMobileSize) {
		display: block;
	}
}

.hamburgerMenuContainer {
	background: radial-gradient(106.61% 108.18% at 0% 100%, rgba(82, 120, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #08080a;
	max-width: 677px;
	width: 90%;
	height: 100%;
	.close {
		text-align: right;
	}
	.content {
	}

	.subActive {
		background-color: $backgroundHover;
	}
	.subItem {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:hover {
			background-color: $backgroundHover;
		}
	}
}
.link {
	display: block;
	color: var(--contrast-color-theme-100);
	font-weight: bold;
}
