.cardRow {
	.leftColumn {
	}
	.rightColumn {
		table {
			display: table;
			text-align: left;
			td,
			th {
				padding-left: 10px !important;
			}
		}
	}
}
.smallCard {
	background-color: rgba(var(--contrast-color-theme--raw), 0.05);
}

.rawInput {
	/* White Color/50 */
	background: rgba(var(--contrast-color-theme--raw), 0.05);
	/* White Color/100 */
	border: 1px solid rgba(var(--contrast-color-theme--raw), 0.1);
	border-radius: 8px;
	padding: 12px;
	div:last-of-type {
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
		border-bottom: none !important;
	}
}
.copyColor {
	color: var(--link-color-useful);
}

.primaryColor {
	color: var(--primary-color-normal);
}

.table {
	min-width: 600px;
	background: hsla(0, 0%, 100%, 0.05);
}

.left {
	max-width: 170px;
}

.tableTD {
	display: block;
	overflow-x: auto;
	th {
		padding: 5px !important;
	}
	td {
		padding: 5px !important;
	}
}
