.staticsCard {
	display: flex;

	.iconBlock {
		background: var(--border-color);
		border: 1px solid var(--border-color);
		width: 32px;
		height: 32px;
		border-radius: var(--radius-sm);
	}

	.contentBlock {
		display: flex;
		flex-direction: column;
		margin-left: var(--offset-sm);
		width: 160px;
	}

	.title {
	}
}
