.holderRow {
	// background: rgba(var(--contrast-color-theme--raw), 0.05);
	border-bottom: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	// backdrop-filter: blur(42px);
	display: flex;
	align-items: center;
	// width: fit-content;
	.indexCenter {
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
		}
	}

	.currency {
		font-family: 'TitilliumWeb-SemiBold';
		color: var(--contrast-color-theme-70);
	}
	.borderLeft {
		border-left: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	}

	.topRow {
		display: flex;
		justify-content: space-between;
	}

	.colId {
		min-width: 110px;
	}
	.colOwner,
	.colImage {
		min-width: 450px;
	}
}

.borderBottom {
	border-bottom: 1px solid var(--border-color);
}

.noRadius {
	border-radius: 0;
}

.pagination {
	display: flex;
	justify-content: 'space-between';
}

.colId {
	min-width: 110px;
}

.colOwner,
.colImage {
	min-width: 450px;
}
