.footer {
	background-color: rgba(var(--contrast-color-theme--raw), 0.05);
}
.footerInfo {
	display: flex;
	@media screen and (max-width: 1220px) {
		flex-wrap: wrap;
	}
	.wrapperLinks {
		display: flex;

		div {
			display: flex;
			flex-direction: column;
			a {
				color: var(--contrast-color-theme-50);
			}
		}
	}
}

.footerSocial {
	@media screen and (max-width: 1220px) {
		margin-top: var(--offset-xl);
	}
	div:last-child {
		display: flex;
	}
}
