.rowBrief {
	display: flex;
	align-items: center;
	flex: 1;
	.iconCetner {
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}

.rowHeight {
	display: flex;
	min-height: 70px;
}

.borderWidthPadding {
	&::after {
		content: '';
		height: 1px;
		width: calc(100% - 56px);
		background-color: var(--border-color);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.verifyContract {
	background: rgba(255, 200, 42, 0.16);
	border: 1px solid rgba(255, 200, 42, 0.1);
	border-radius: 8px;
	a {
		color: var(--link-color-useful);
	}
}

.hr {
	margin: 60px 0px;
	border-top: 1px solid rgba(var(--contrast-color-theme--raw), 0.2);
}

.logItemLeftBorder {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 4px;
		height: 100%;
		background: rgba(255, 200, 42, 0.16);
		border: 1px solid rgba(255, 200, 42, 0.1);
		border-radius: 8px;
	}
}

.card {
	justify-content: flex-end;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
