.rowBrief {
	display: flex;
	.iconCetner {
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}
