.holderRow {
	background: rgba(var(--contrast-color-theme--raw), 0.05);
	border: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	backdrop-filter: blur(42px);
	display: flex;
	align-items: center;
	width: fit-content;
	.indexCenter {
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
		}
	}

	.currency {
		font-family: 'TitilliumWeb-SemiBold';
		color: var(--contrast-color-theme-70);
	}
	.borderLeft {
		border-left: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	}

	.topRow {
		display: flex;
		justify-content: space-between;
	}

	.colIndex {
		width: 10px;
		margin-right: var(--offset-lg);
	}
	.colAddress {
		min-width: 350px;
	}
	.colBalance {
		min-width: 250px;
	}
	.colPower {
		min-width: 80px;
	}
}

.borderBottom {
	border-bottom: 1px solid var(--border-color);
}
