.rowBrief {
	display: flex;
	align-items: center;
	// .countIndex {
	// 	display: flex;
	// 	align-items: center;
	// }
	.content {
		width: 100%;
		.info {
			display: flex;
			justify-content: space-between;
		}
	}
}

.tokenRow {
	background: rgba(var(--contrast-color-theme--raw), 0.05);
	border: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
	backdrop-filter: blur(42px);
	width: fit-content;

	.currency {
		color: var(--contrast-color-theme-70);
	}
}
.borderLeft {
	border-left: 1px solid rgba(var(--contrast-color-theme--raw), 0.05);
}

.topRow {
	display: flex;
	justify-content: space-between;
}

.tokenHeadTitle,
.tokenRow {
	width: fit-content;
	.colIndex {
		width: 10px;
		margin-right: var(--offset-lg);
	}
	.colToken {
		min-width: 200px;
	}
	.colAddress {
		min-width: 450px;
	}
	.colTotalSupply {
		min-width: 250px;
	}
	.colHolderCount {
		min-width: 80px;
	}
}
